* {
    // padding: 0;
    // margin: 0;
    // border: 0;
    // box-sizing: border-box;
  }

section > .container{
  width: 935px;
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 1.25rem;
}

.pitch{
  
}